{
  "presets": ["@babel/env", "@babel/react", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-direct-import",
      { "modules": ["@mui/material", "@mui/icons-material"] }
    ]
  ]
}
